<!DOCTYPE>
<html>
<head>
  <title>Nelson Chen</title>
  <meta charset="utf-8"/>
  <link rel="stylesheet" type="text/css" href="css/index.css">
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script>
  </script>
</head>
<body>
  <header class="container">
    <div class="row">
      <h1 class="col-sm-4">NELSON KMC</h1>
      <nav class="col-sm-8 text-right">
        <ul id='navbar'>
          <li><a href="html/contact.html">CONTACT</a></li>
          <li><a href="html/about.html">ABOUT</a></li>
          <li><a href="html/resume.html">RESUME</a></li>
          <li><a class="active" href="html/home.html">HOME</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <section class="container">
    <div class="main">
      <h1>DEVELOPER.</h1>
      <div class="info">
        <a href="html/contact.html">CONTACT</a>
        <a href="html/resume.html">RESUME</a>
      </div>
    </div>
  </section>

</body>
</html>
